.container {
  background-color: red;
  height: 80vh;
  width: 70%;
  margin-top: 3rem;
  border-radius: 1rem;
}

.form-group {
  width: 100%;
  height: 50%;
}

.form-field {
  margin-top: 8rem !important;
  width: 70%;
}

mat-error {
  color: white;
}

.text-center {
  text-align: center;
}

.welcome-message {
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  line-height: 1.5;
  font-family: "Kaushan Script", cursive, sans-serif;
  margin: auto;
  & .h2-welcome {
    font-size: 2rem;
  }
}
