<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="container">
  <div class="form-group row">
    <ng-container *ngIf="currentStep === 1">
      <mat-form-field class="form-field col-8 m-auto">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. pat@example.com"
        />
        <mat-error
          *ngIf="
            registrationForm.get('email')?.hasError('email') &&
            !registrationForm.get('email')?.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="currentStep === 2">
      <mat-form-field class="form-field col-8 m-auto">
        <mat-label>Username</mat-label>
        <input
          type="username"
          matInput
          formControlName="username"
          placeholder="Ex. Globetrotter23"
        />
        <mat-error
          *ngIf="
            registrationForm.get('username')?.hasError('username') &&
            !registrationForm.get('username')?.hasError('required')
          "
        >
          Please enter a valid username
        </mat-error>
        <mat-error
          *ngIf="registrationForm.get('username')?.hasError('required')"
        >
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="currentStep === 3">
      <mat-form-field class="form-field col-8 m-auto">
        <mat-label>Your last trip or your next one</mat-label>
        <input
          type="text"
          matInput
          formControlName="lastTrip"
          placeholder="Ex. Bali"
        />
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="currentStep === 4">
      <div class="text-center welcome-message">
        <p>Welcome! You have received an email with login instructions.</p>
      </div>
    </ng-container>
    
    <div class="text-center" *ngIf="currentStep !== 4">
      <button
        mat-fab
        extended
        color="warn"
        (click)="nextStep()"
        [disabled]="!isCurrentFieldValid"
      >
        <span>Next</span>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>    
  </div>
</form>
