.navbar-brand {
  color: white;
  font-size: 2rem;
  font-family: "Kaushan Script", cursive, sans-serif;
  margin-left: 1rem;
}

@media (max-width: 464px) {
  .navbar-brand {
    margin-left: 0;
  }
}