<div class="card mt-4 mb-4">
  <div class="card-body">
    <div class="card-body-img">
      <img src="url_dell_immagine" alt="Immagine" />
    </div>
    <div class="card-description">
      <div class="profile-header">
        <div class="profile-picture">
          <img src="../../../../../assets/myphoto.png" alt="Immagine" />
        </div>
        <div class="profile-info">
          <span>Nome Utente</span>
        </div>
      </div>
      <p>Descrizione dell'utente.</p>
    </div>
  </div>
</div>
