.card {
  width: 270px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;

  .profile-header {
    color: #ffffff;
    display: flex;
    align-items: center;

    .profile-info {
      margin-left: 0.6rem;
    }

    .profile-picture img {
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
    }
  }

  .card-body {
    background: linear-gradient(to top, #131313cc 0%, #6b6b6b00 50%);

    .card-body-img img {
      width: 100%;
      height: auto;
      min-height: 150px;
      display: block;
    }
  }

  .card-description {
    color: #ffffff;
  }
}
