<div class="container">
  <button
    class="scroll-button left"
    (click)="scrollLeft()"
    [disabled]="currentIndex === 0"
  >
    <i class="fa-solid fa-chevron-left" style="color: #b0b0b0"></i>
  </button>
  <div class="card-container">
    <div class="card mt-4 mb-4" *ngFor="let image of visibleImages">
      <div
        class="card-body"
        [style.backgroundImage]="'url(' + image.urls.full + ')'"
      >
        <div class="card-description">
          <div class="profile-header">
            <div class="profile-picture">
              <img [src]="image.user.profile_image.medium" alt="Immagine" />
            </div>
            <div class="profile-info">
              <span>{{ image.user.name }}</span>
            </div>
          </div>
          <p class="description">{{ image.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="scroll-button right"
    (click)="scrollRight()"
    [disabled]="currentIndex >= images.length - 4"
  >
    <i class="fa-solid fa-chevron-right" style="color: #b0b0b0"></i>
  </button>
</div>
