<div class="floating-menu bg-warning">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-2 col-2">
        <a href="homepage">
          <i class="fas fa-home"></i>
          <span class="badge rounded-pill badge-notification bg-danger"></span>
        </a>
      </div>
      <div class="col-md-2 col-2">
        <a href="create">
          <i class="fa-solid fa-circle-plus"></i>
          <span class="badge rounded-pill badge-notification bg-danger"></span>
        </a>
      </div>
      <div class="col-md-2 col-2">
        <a href="inbox">
          <i class="fas fa-envelope"></i>
          <span class="badge rounded-pill badge-notification bg-danger">5</span>
        </a>
      </div>
      <div class="col-md-2 col-2">
        <a href="profile">
          <i class="fas fa-user"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
      </div>
    </div>
  </div>
</div>
