.floating-menu {
  position: fixed;
  left: 25%;
  bottom: 5%;
  width: 50%;
  border-radius: 1.8rem;
  padding: 1rem;
  z-index: 9999;
  -webkit-box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.41);
  box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.41);

  .container {
    padding: 0;
    .row {
      justify-content: center;
      .col-2 {
        text-align: center;
        a {
          color: #fff;
          font-size: 24px;
          position: relative;
          &:hover {
            background-color: #e1e1e1a5;
            padding: 0.5rem 0.7rem;
            border-radius: 50%;
          }
          & .badge {
            font-size: 0.6rem;
            position: absolute;
            top: 10%;
            left: 100%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
